{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Vote for Lunch Menu</title>

    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #f8f9fa;
        }
        .user-info {
            display: flex;
            align-items: center;
        }
        .user-info span {
            margin-right: 10px;
        }
        .background-image {
            background-image: url("{% static 'voting/images/background.jpeg' %}");
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    </style>
</head>
<body class="background-image">
    <div class="header">
        <h1>Vote for Lunch Menu</h1>
        <div class="user-info">
            <span>{{ user.username }}</span>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    
    <form id="voteForm" method="POST">
        {% csrf_token %}
        {% for place, menu_count in votes.items %}
            <div>
                <label>{{ place }} - {{ menu_count.0 }}</label><br>
                <input type="hidden" name="restaurant" value="{{ place }}">
                <div class="star-rating">
                    <input type="radio" name="{{ place }}_rating" value="1"> 1
                    <input type="radio" name="{{ place }}_rating" value="2"> 2
                    <input type="radio" name="{{ place }}_rating" value="3"> 3
                    <input type="radio" name="{{ place }}_rating" value="4"> 4
                    <input type="radio" name="{{ place }}_rating" value="5"> 5
                </div>
            </div>
        {% endfor %}
        <button type="submit">Vote</button>
    </form>

    <div id="voteResults" style="display: block;">
        <h2>Vote Results:</h2>
        <ul>
            {% if votes %}
                {% for place, menu_count in votes.items %}
                    <li>{{ place }} - {{ menu_count.0 }}: {{ menu_count.2 }} votes, Average Rating: {{ menu_count.3 }}</li>
                {% empty %}
                    <li>No votes yet.</li>
                {% endfor %}
            {% else %}
                <li>No votes yet.</li>
            {% endif %}
        </ul>
    </div>
    <script>
        fetch('C:\\Users\\ilmari\\Desktop\\Python\\LUTFoodVoting\\lunch_voting\\voting\\lunch_menus.json')
        .then(response => response.json())
        .then(data => {
            const voteForm = document.getElementById('voteForm');
            for (const [place, menu] of Object.entries(data)) {
            const div = document.createElement('div');
            div.innerHTML = `
                <label>${place} - ${menu}</label><br>
                <input type="hidden" name="restaurant" value="${place}">
                <div class="star-rating">
                <input type="radio" name="${place}_rating" value="1"> 1
                <input type="radio" name="${place}_rating" value="2"> 2
                <input type="radio" name="${place}_rating" value="3"> 3
                <input type="radio" name="${place}_rating" value="4"> 4
                <input type="radio" name="${place}_rating" value="5"> 5
                </div>
            `;
            voteForm.appendChild(div);
            }
        });

        document.getElementById('voteForm').onsubmit = function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch('', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const voteResults = document.getElementById('voteResults');
                console.log(data);
                voteResults.innerHTML = `
                    <h2>Vote Results:</h2>
                    <ul>
                        ${Object.entries(data.votes).map(([place, menu_count]) => `
                            <li>${place} - ${menu_count[0]}: ${menu_count[2]} votes, Average Rating: ${menu_count[3]}</li>
                        `).join('')}
                    </ul>
                `;
            });
        }
    </script>
</body>
</html>
